.button {
  border: 1px solid #ababab;
  border-radius: 8px;
  cursor: pointer;
  height: 42px;
  min-width: auto;
  transition: opacity linear 0.2s;
  width: 120px;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
  }
}

.theme-rose {
  background-color: #986783;
  color: #ffffff;
}

.theme-royal {
  background-color: #3775c8;
  color: #ffffff;
}
