$slot-spacing: 16px;

.board {
  background-color: #bcbcbc;
  border-radius: 3px;
  display: inline-block;
  padding: 32px;
}

.board-row {
  &:not(:last-child) {
    margin-bottom: $slot-spacing;
  }
}

.board-column {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $slot-spacing;
  }
}
