$loader-icon-width: 24px;
$loader-icon-margin: 8px;

.board-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.player-name {
  color: #232323;
  left: ($loader-icon-width + $loader-icon-width) / 2; // So text stays centered
  position: relative;
}

.loader-icon {
  color: #676767;
  margin-left: $loader-icon-margin;
  position: relative;
  top: -1.5px; // TODO: Make less fragile
}
